body {
  background: #a8dadc;
  font-family: "Nunito", sans-serif;
}

#mainNav {
  font-size: 1.5rem;
  font-weight: 320;
}

#mainNav .nav-link {
  color: #f1faee;
}

#mainNav .nav-link:hover,
#mainNav .nav-link:focus {
  color: #e63946;
}

#mainNav .navbar-brand {
  color: #e63946;
  font-size: 1.5rem;
}

#headingGroup span {
  color: #e63946;
}

#headingGroup h1 {
  font-size: 3.5rem;
  font-weight: 320;
}
svg {
  width: 50px;
  height: 50px;
  color: #f1faee;
  margin-bottom: 0.5rem;
}

.desc h2 {
  color: #e63946;
  font-weight: 300;
  font-size: 2rem;
}

.desc p {
  color: #1d3557;
  font-weight: 300;
  font-size: 1.1rem;
}

.content {
  margin-top: 60px;
  margin-bottom: 60px;
}

.navbar.scrolled {
  background: #1d3557;
  transition: background 0.5s;
}

@media (max-width: 1150px) {
  #headingGroup h1 {
    font-size: 3rem;
  }
  svg {
    display: none;
  }
}
